.navbar {
    background-color: lightgrey;
}

.navbar a {
    color: black !important;
}

.adminMain {
    margin-top: 2em;
}

.addButton:hover, .favoriteButton:hover {
    cursor: pointer;
}

.checkbox-label input {
    display: none;
}

h2 {
    margin-top: 1em;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.profilePagePicture {
    height: 33%;
    width: auto;
}

#newRoundSubmit, #newTournamentSubmit {
    margin-top: 3em;
}

.nextPage {
    float: right;
}

.nextPageMargin {
    margin-top: 3em;
}