# Default ignored files
/shelf/

#User-specific files
.idea/workspace.xml

/#Logs
/logs
*.log

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

target/